<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- component scan-->
	<context:component-scan base-package="oefening1" />
    <!-- load properties file -->
    <context:property-placeholder location="classpath:sport.properties"/>

    <bean id="myFortuneService"
          class="oefening1.HappyFortuneService">
    </bean>

    <bean id="myCoach"
          class="oefening1.TrackCoach">

        <!-- set up constructor injection -->
        <constructor-arg ref="myFortuneService" />
    </bean>

    <bean id="myCricketCoach"
          class="oefening1.CricketCoach">

        <!-- setter injectie -->
        <property name="fortuneService" ref="myFortuneService" />

        <!-- inject waarden -->
        <property name="emailAddress" value="${foo.email}" />
        <property name="team" value="${foo.team}" />

    </bean>

</beans>





